.short {
  height: 0;
  padding-top: 10px;
  border: none;
}

.logo {
  height: 40px;
  width: 45px;
  align-self: center;
  margin-top: 10px;
  padding-right: 15px;
}

.title {
  color: white;
  font-size: 18px;
  padding-right: 40px;
}

.title:hover {
  color: #ddd;
}

.navbar-brand {
  height: 40px;
  display: flex;
  align-items: center;
}

ul.nav > li {
  padding-right: 5px;
}

ul.nav li.dropdown > ul.dropdown-menu {
  background-color: #222;
}

ul.nav li.dropdown > ul.dropdown-menu > li > a {
  color: #ccc;
}

ul.nav li.dropdown > ul.dropdown-menu > li > a:hover {
  color: white;
  background-color: #444;
}

ul.nav li.dropdown > ul.dropdown-menu > li > a:focus {
  background-color: #222;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  ul.nav li.dropdown > ul.dropdown-menu {
    display: none;
  }
}