.short {
  height: 0;
  border: none;
}

.logo {
  height: 40px;
  width: 45px;
  align-self: center;
  margin-top: 10px;
  padding-right: 15px;
}

.title {
  color: white;
  font-size: 18px;
  padding-right: 20px;
}

.title:hover {
  color: #ddd;
}

.navbar-nav > li {
  padding-right: 5px;
}

.page:focus {
  background-color: red;
}

.navbar-brand {
  height: 40px;
  display: flex;
  align-items: center;
}